* {
	font-family: 'Montserrat', sans-serif;
}
a {
	color: #fff;
}
ul {
	list-style-type: none;
}
.sub-heading {
	color: #757575;
	font-size: 13px;
	margin-top: -10px;
	font-style: italic;
	font-family: 'Lora', serif;
}
.common-heading {
	text-align: center;
}
.img-circle {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	border: 5px solid #fff;
}
.about-img {
	border: 5px solid #F7F7F7;
}
/*
 * #header-section
 *
 ****/

#header-section {
	/*border: 2px solid red;*/
	color: #fff;
	height: 700px;
	background: linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.50)
    ),url(../golden_assets/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
#header-section > header {
	/*border: 2px solid blue;*/
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}
#logo {
	height: 29px;
	width: 80px;
}
ul#nav {
	/*border: 2px solid green;*/
	display: flex;
	font-size: 18px;
}
ul#nav > li {
	margin-left: 40px;
}
#content {
	/*border: 2px solid lime;*/
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding-top: 160px;
}
h1 {
	/*border: 2px solid yellow;*/
	margin-top: 0px;
	font-size: 428%;
}
#content > h3 {
	/*border: 2px solid red;*/
	font-style: italic;
	font-family: 'Lora', serif;
}
div#header-button {
	/*border: 2px solid green;*/
}
#tell-me-more {
	height: 55px;
	line-height: 53px;
	font-weight: bold;
}

/*
 * #services-section
 *
 ****/

#services-section {
	/*border: 2px solid lime;*/
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row-wrapper {
	/*border: 2px solid grey;*/
	width: 100%;
	display: flex; 
	justify-content: center;
	width: 100%;
	padding: 100px 0;
}
.service-box {
	/*border: 2px solid red;*/
	flex-basis: 23%;
	margin-left: 60px;
}
h6 {
	font-size: 18px;
	text-align: center;
}
.service-box > p {
	text-align: center;
}
.service-img {
	/*border: 2px solid red;*/
	display: block;
	margin: 0 auto;
}
.service-para {
	font-size: 13px;
	color: #757575;
	font-family: 'Lora', serif;
}

/*
 * #portfolio-section
 *
 ****/

#portfolio-section {
	background: #F7F7F7;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row {
	/*border: 2px solid lime;*/
	width: 100%;
	display: flex;
	justify-content: center;
}
.row-divs {
	/*border: 2px solid red;*/
	flex-basis: 20%;
	height: 350px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}
#row-1 {
	padding-top: 100px;
}
#row-2 {
	padding-bottom: 100px;
}
#ebony-ivory,
#smart-stationary, 
#clever-poster,
#vinyl-record,
#treehouse-template,
#burned-logo {
	/*border: 2px solid lime;*/
	flex-grow: 1;	
	background-size: cover !important;
	background-position: 50% 50% !important;
}
/*.close-me {
	position: absolute;
	display: none;
	font-size: 50px;
	z-index: 1000;
	color: #fff;
}
#lb-img-1 {
	position: absolute;
	height: 900px;
	width: 900px;
	display: none;
}
#lb-img-1:target {
	display: block;
}
#lb-img-1:target ~ .close-me {
	display: block;
}*/
#ebony-ivory {
	background: url(../golden_assets/ebony-ivory.jpg);
}
.portfolio-content {
	background: #fff;
}
.portfolio-content > a > h6 {
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
	color: #000;
}
.portfolio-content > a:hover {
	text-decoration: underline;
	color: #000;
}
.portfolio-content > p {
	font-size: 13px;
	color: #757575;
	text-align: center;
	font-style: italic;
	margin-top: -2px;
	font-family: 'Droid Serif', serif;
}
#smart-stationary {
	background: url(../golden_assets/smart-stationary.jpg);
}
#clever-poster {
	background: url(../golden_assets/portfolio-3.jpg);
}
#vinyl-record {
	background: url(../golden_assets/portfolio-5.jpg);
}
#treehouse-template {
	background: url(../golden_assets/portfolio-4.jpg);
}
#burned-logo {
	background: url(../golden_assets/portfolio-6.jpg);
}

/*
 * #about-section
 *
 ****/
 #about-section {
 	/*border: 2px solid lime;*/
 	background: #fff;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	padding: 100px 0;
}
.container {
	margin-top: 65px;
}
.about_row {
  width: 600px;
  margin: 0 auto;
  display: flex;
  /*border: 2px solid lime;*/
}
div.container > .about_row {
  margin: 0px auto;
}
.image {
	height: 200px;
}
.image > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid  #F7F7F7;
}
.text {
	width: 180px;
  	margin: 0 10px;
  	height: 120px;
}
.about-para {
	font-size: 12px;
}
.text > h6 {
	font-size: 17px;
	font-weight: bolder;
	text-align: right;
}
.line {
	width: 3px;
	background-color: #F7F7F7;
	height: 80px;
}
.line-div {
	flex-direction: row-reverse;
  	justify-content: center;
}
.even {
  flex-direction: row-reverse;
  /*justify-content: center;*/
}
.even > .text > h6 {
	text-align: left
}
/*.about-content {

	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-top: 50px;
}
.about-card {

	display: flex;
}
.content {

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-content: flex-end;
	box-sizing: border-box;
	padding-right: 30px;
}
.about-card-1 {

	width: 100%;
	padding-left: 23%;
	padding-right: 38%;
	padding-bottom: 100px;
}
.about-card-2 {

	width: 100%;
	padding-left: 44%;
	padding-right: 14%;
	padding-bottom: 100px;
}
.content-2 {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	box-sizing: border-box;
	padding-left: 30px;
}
.content > h6 {

	font-weight: bolder;
}
.about-para {
	color: #757575;
	font-size: 14px;
}
*/
 /*
 * #team-section
 *
 ****/
#team-section {
	padding-top: 100px;
	background: #F7F7F7;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-cards {
	/*border: 2px solid red;*/
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
.team-members {
	margin-left: 50px;
}
.team-para {
	font-size: 13px;
	color: #757575;
	text-align: center;
	margin-top: -2px;
	font-family: 'Droid Serif', serif;
}
.connect-icons-div {
	display: flex;
	justify-content: center;
}
.connect-icons {
	margin-left: 10px;
	height: 50px;
	width: 50px;
}
.sub-heading-2 {
	width: 60%;
	text-align: center;
	font-style: normal;
	font-size: 15px;
	padding-bottom: 100px;
	margin-top: 0;
}
/*
 * #brands-section
 *
 ****/

#brands-section {
	padding: 50px 140px;
	display: flex;
	justify-content: space-around;
}
/*
 * #contact-section
 *
 ****/
#contact-section {
	height: auto;
	/*width: 100%;*/
	background: url(../golden_assets/contact-us-bg.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
#contact-heading {
	color: #fff;
}
form {
	width: 100%;
	padding: 50px 0; 
}
#contact-form {
	/*border: 2px solid red;*/
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contact-info, .contact-message {
	/*border: 2px solid lime;*/
	height: 200px;
	width: 30%;
}
.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.contact-message {
	margin-left: 30px;
}
#message-area {
	box-sizing: border-box;
	background: #fff;
	height: 91%;
	resize: none;
	border-radius: 3px;
	padding-left: 10px;
	padding-top: 10px;
}
#input-text, #input-email, #input-subject {
	box-sizing: border-box;
	background: #fff;
	border: 2px solid #fff;
	padding-left: 10px;
	border-radius: 3px;
}
/*
 * Footer
 *
 ****/
footer {
	background: #fff;
	padding: 30px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
footer > h6 {
	/*border: 2px solid red;*/
	font-size: 15px;
	margin-right: 50px;
}
#footer-icons {
	/*border: 2px solid lime;*/
	/*margin-left: -200px;*/
	/*padding-left: 250px;*/
	display: flex;
	aign-items: center;
}
.footer-twitter {
	height: 45px;
	width: 45px;
}

/* Lightbox Stuff */
.wrapper {
	height: 100%;
  	width: 100%;
  	padding: 30px;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-sizing:border-box;
	display: none;
	justify-content: center;
	align-items: center;
}
#lb-img-1:target,
#lb-img-2:target,
#lb-img-3:target,
#lb-img-4:target,
#lb-img-5:target,
#lb-img-6:target {
	display: flex;
}

#close-me {
	position: relative;
	top: -137px;
	font-size: 28px;
}
.fa-user {
	font-size: 1800%;
}

@media all and (max-width: 759px) {

	#header-section > header {
		box-sizing: border-box;
		position: relative;
		background: #000;
		justify-content: space-between;
		padding: 20px 20px;
	}
	ul#nav {
		box-sizing: border-box;
		display: block;
		position: absolute;
		left: 0;
		top: 51px;
		width: 100%;
		text-align: center;
		background: #000;
		height: 0px;
		overflow: hidden;
		padding-left: 0;
		transition: height 1s;
		z-index: 10;
	}
	ul#nav > li {
		box-sizing: border-box;
		padding: 5px;
		margin-left: 0;
	}
	ul#nav > li:hover {
		background-color: #fff;
	}
	ul#nav > li:hover > a {
		color: #000;
	}
	.hide-menu {
		display: none;
	}
	ul#nav:target {
		height: 185px;
	}
	ul#nav:target ~ .show-menu {
		display: none;
	}
	ul#nav:target ~ .hide-menu {
		display: block;
	}
	#content > h3 {
		font-size: 190%;
	}
	h1 {
		font-size: 239%;
	}
	.service-box {
		margin-left: 30px;
	}
	.team-cards {
		flex-direction: column;
	}
	.team-members {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	#brands-section {
		flex-wrap: wrap;
	}
	#brands-section > img {
		margin-top: 20px;
	}
	#contact-form {
		flex-direction: column;
		align-items: center;
	}
	.container {
		margin: 0;
		width: 100%;
	}
	.contact-message {
		margin-left: 0;
	}
	.contact-info, .contact-message {
		width: 75%;
	}
	.line-div {
		display: none;
	}
	.about_row > .text {
		height: auto;
		width: 60%;
	}
	.about_row > .image {
		order: 1;
	}
	.hide-div {
		display: none;
	}
	.about_row:nth-child(2n+1) {
		flex-direction: row-reverse;
	} 
	.about_row > .text > h6,.about_row > .text > p {
		text-align: left;
	}
	.about_row > .image > img {
		width: 150px;
		height: auto;
	}
	div.container > .about_row {
		margin: 0 auto;
		padding: 0;
		width: 80%;
	}
}

@media all and (min-width: 760px)  {
	.show-menu {
		display: none;
	}
	.hide-menu {
		display: none;
	}
} 

@media all and (max-width: 400px) {
	#content > h3 {
		font-size: 180%;
	}
	#content > h1{
		font-size: 200%;
	}
	#row-1,#row-2 {
		display: flex;
		flex-direction: column;
	}
	.row-divs {
		margin: 0;
		margin-bottom: 40px;
	}
	.row-wrapper {
		flex-direction: column;
	}
	.container > .about_row {
		flex-direction: column;
	}
	.container > .about_row >.text > p,
	.container > .about_row >.text > h6 {
		text-align: center;
	}
	.container > .about_row >.text {
		margin: 0 auto;
		width: 100%;
	}
	.container > .about_row >.image {
		order: -1;
		height: auto;
		width: 148px;
		margin: 0 auto;
	}

}




















