/* Main stylesheet for Invitify */

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
/*
 * Navbar
 *
 **/
.navbar-default {
    background-color: transparent;
    border: none;
    padding-top: 10px;
    margin-bottom: 0px;
}
/*
 * Headings
 *
 **/
h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.sub-heading {
    font-size: 17px;
    color: #777;
}
/*
 * Images
 *
 **/
img#twitter {
    display: block;
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #ddd;
}
#chrome-web-store-icon {
    width: 19px;
    height: 18px;
    margin-top: -3px;

}
/*
 * Rest
 *
 **/
#main-container {
    padding-bottom: 30px;
}
.btn-grp {
    padding: 20px;
    text-align: center;
}
.github-btn, a.btn.btn-default.github-btn:focus {
    background: #444;
    color: #fff;
    border: 1px solid #333;
}
.github-btn > i {
    color: #fff;
}
.github-btn:hover {
    color: #fff;
    border: 1px solid #333;
    background: #555;
}
.chrome-btn, a.btn.btn-default.chrome-btn:focus {
    background: #c1c1c1;
    color: #333;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.chrome-btn:hover {
    background: #a2a2a2;
    color: #333;
    border: 1px solid #ddd;
}
